//FONTS TUTORIALS
//=====================================================================

/* Regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype'), url(../fonts/OpenSans-Light.ttf) format('truetype');
}